#gradient {
    background-image: linear-gradient(to bottom right, white,steelblue);
  }

#weatherIcon{
  width: 200px;
  height: 200px;
  align-self: center;
}

#city{
  font-size: 40px;
  font-weight: bold;
  color: coral;
  text-align: center;
  margin: 0px;
}
#degree{
  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-align: center;
  margin: 0px;
}
#weatherText{
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0rem;
}

#lastUpdated{
  font-size: 10px;
  color: white;
  text-align: left;
  margin: 0rem;
  margin-left: 5px;
}
.effect{
  outline: none;
}
.card{
  border-radius: 5%;
  box-shadow: 0px 4px 8px 0px;
}
.card-body{
  padding: 0px;
}